<% reload ||= false %>
<% person ||= current_user %>
<% style_id = "team" + team.id.to_s %>

<%= "<article class=\"activityBox\" id=\"#{style_id} \">".html_safe unless reload == true %>
  <header class="activityHeader">
    <%= link_to logo_for(team, size: :user_profile, css_class: "activityImage"), team_path(team) %>
<!--               <a href="#">
      <%= image_tag "bg.png", class: "activityImage" %>
    </a> -->
    <h5 class="activityTitle text-left">
      <%= link_to team.title, team_path(team) %>
    </h5>
    <h5 class="activityTitle text-left">
      <% if user_created_this? team, person %>
        (creator)
      <% elsif user_is_admin? team,  person %>
        (admin)
      <% elsif user_is_member? team, person %>
        (member)
    </h5>
      <% elsif signed_in? %>
        Join this team <%= link_to "->", team_path(team), class: "teamCardJoin" %>
      <% end %>
  </header>

  <div class="activityBody text-center">
    <ul class="block-grid three-up">
      <li><%= image_tag "1.png" %></li>
      <li><%= toggle_like_card_button(team, current_user) if signed_in? %> <span id="likecount<%= team.id %>" class="small-text"><%= team.flaggings.with_flag(:like).count if signed_in?  %> </span> </li>
      <li><div class="featureStar"></div> </li>
    </ul>

  </div>
<%= "</article>".html_safe unless reload == true %>