          <article class="activityBox" id="team<%= team.id %>">
            <header class="activityHeader">
              <%= link_to image_tag("bg.png", class: "activityImage"), event_path(team) %>
<!--               <a href="#">
                <%= image_tag "bg.png", class: "activityImage" %>
              </a> -->
              <h5 class="activityTitle text-left">
                <%= link_to team.title, event_path(team) %>
              </h5>
            </header>

            <div class="activityBody text-center">
              <ul class="block-grid three-up">
                <li><%= image_tag "1.png" %></li>
                <li><%= toggle_like_card_button(team, current_user) if signed_in? %> <span id="likecount<%= team.id %>" class="small-text"><%= team.flaggings.with_flag(:like).count if signed_in?  %> </span> </li>
                <li><div class="featureStar"></div> </li>
              </ul>

            </div>
          </article>