<h1>Events#edit</h1>

<--  Back to <%= link_to "index", events_path %>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@team) do |f| %>
                            <div>
                                <%= f.label :title, "Event Title" %>
                                <%= f.text_field :title %>
                            </div>

                            <div>
                                <%= f.label :sport, "sport" %>
                                <%= f.text_field :sport %>
                            </div>

                            <div>
                                <%= f.label :number_of_attendings, "Number of attendings" %>
                                <%= f.number_field :number_of_attendings %>
                            </div>

                            <div>
                                <%= f.label :descreption, "Description" %>
                                <%= f.text_area :descreption %>
                            </div>

                            <div>
                                <%= f.submit "Update the Team", class: "btn btn-large btn-primary" %>
                            </div>
        		<% end %>
	</div>
</div>

