
<div class="body">
    <div class="offering">
                    <h1><%= image_tag "class-icon.png", width: 50 %> Create New Team</h1>
        <%= form_for(@team) do |f| %>
                            <h2>1. Set up Activity</h2>

                            <p>a. Select a Category</p>

                            <div>
                                <table id="categoryChoice">
                                    <tr>
                                        <td><%= f.radio_button :category, "BallSports", value: "BallSports", checked: true %></td>
                                        <td><%= f.radio_button :category, "Fitness", value: "Fitness" %></td>
                                        <td><%= f.radio_button :category, "WaterSports", value: "WaterSports" %></td>
                                    </tr>
                                    <tr>
                                        <td>Ball Sports</td>
                                        <td>Fitness</td>
                                        <td>Water Sports</td>
                                    </tr>
                                </table>
                            </div> <br>

                            <div>
                                <table  width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :sport, "b. Select an Activity:" %></td>
                                        <td>
                                            <div id="BallList"><%= f.select :sport, [
                                                "Basketball",
                                                "Volleyball",
                                                "Football (Soccer)",
                                                "American Football",
                                                "Cricket",
                                                "Badminton",
                                                "Baseball",
                                                "Tennis",
                                                "Handball",
                                                "Table Tennis",
                                                "Foosball",
                                                "Squash",
                                                "Bowling",
                                                "Golf"]%></div>
                                            <div id="FitList"><%= f.select :sport, [
                                                "Cycling",
                                                "Karate",
                                                "Judo",
                                                "Boxing",
                                                "Kick Boxing",
                                                "Skating",
                                                "Running",
                                                "Power Walking",
                                                "Skateboarding",
                                                "Roller Skating",
                                                "Taekwondo",
                                                "Fencing",
                                                "Paint ball",
                                                "Yoga",
                                                "Aikido",
                                                "Aerobics",
                                                "Gymnastics"]%></div></div>
                                            <div id="WaterList"><%= f.select :sport, [
                                                "Swimming",
                                                "Water Polo",
                                                "Sailing",
                                                "Diving",
                                                "Fishing"]%></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :title, "team Title: " %></td>
                                        <td><%= f.text_field :title %></td>
                                    </tr>
                                    <tr>
                                        <td width="130"><%= f.label :number_of_attendings, "Number of attendings" %></td>
                                        <td><%= f.number_field :number_of_attendings %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :descreption, "Description" %></td>
                                        <td><%= f.text_area :descreption %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :open_join, "Open for all to join." %></td>
                                        <td><%= check_box(:open_join checked_value = "1", unchecked_value = "0") %></td>
                                    </tr>                                    
                                    <tr>
                                        <td><label>Add Image</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><label>Special Requirements</label></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>


    </div>
                <%= f.submit "Create the team", class: "button grey submitBtn homeBtn left" %>


        <% end %>
</div>
