  <div class="container-fluid userInfo">
    <div class="row-fluid">
        <%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => " / " %>
        <div class="span7 eventProfileCard">
            <div class="span4">
                  <div class="large"><%= logo_for(@team, size: :user_profile, css_style: "margin:15px auto;") %></div>
            </div>
            <div class="span8">
                  <h1><%= truncate(@team.title, length: 35) %></h1>
                  <p>Sport: <%= @team.sport %></p>
            </div>
        </div>

        <div class="span3 activityOrigin">
            <div class="OriginTitle">Team Originator</div>
            <div class="UserimgName">
                <div class="img"><%= logo_for(@team.creator, size: :small, css_class: "userCardImage left") %></div>
                <%= link_to @team.creator.name , user_path(@team.creator) %>
            </div>
        </div>
    </div>

    <div id="action_box"><%= render "shared/action_row", this: @team %></div>
</div>

  <div class="secondMenu">
    <nav id="secondary">
      <ul>
        <li id="Description" class="navActive"><a href="#">Description</a></li>
        <li id="joined"><a href="#">Members (<span id="joinCount"><%= @members.count %></span>)</a></li>
        <li id="likes"><a href="#">Likes (<span id="likeCount"><%= @team.flaggings.with_flag(:like).count %></span>)</a></li>
        <li id="gallery"><a href="#">gallery</a></li>
      </ul>
    </nav>
  </div>
  <div class="team">
    <div class="body">
        <%= render 'shared/cardsection', individuals: @members, this: @team, class_name: "joined", makeadmin: true %>
    <div class="Description">
        <div class="teamDesc">
            <div class="desctext">
                <h2 class="header_text">Description</h2>
                <p><%= @team.descreption %></p>
            </div>
            <%# render "shared/upcoming_offering_test" %>
        </div>

        <% if current_user.teams_administrating.include?(@team) %>
             <div class="activity_table">
            <h1>Team Notifications</h1>
                    <%= render "shared/notification_message", recent_activities: @team_notifications, log_title: "team notification" %>
            </div>
            <%= render "shared/activity_table", recent_activities: @recent_activities %>
        <% end %>



    </div>
        <%= render 'shared/cardsection', individuals: @likes, this: @team, class_name: "likes", makeadmin: true %>

        <%= render 'shared/gallery' %>

<!--
      <div class="sideBar">

        <%= render 'shared/side_intrest' %>

        <%= render 'shared/similar_players' %>

      </div> -->
    </div>
  </div>
</div>