  <div class="userInfo">
    <div class="eventProfileCard">
      <div class="large"></div>
      <h1><%= @team.title %></h1>
      <p>Sports: <%= @team.sport %></p>
      <footer>
        <span class="right">players: <%= @team.number_of_attendings %></span>
      </footer>
    </div>

    <div class="locationPartial">
      <div class="locationTitle">Location</div>
      <div class="map"></div>
    </div>

    <div class="activityOrigin">
        <div class="OriginTitle">Activity Originator</div>
        <div class="UserimgName">
            <div class="img"><%= gravatar_for(@team.creator) %></div>
            <%= link_to @team.creator.name , user_path(@team.creator) %>
        </div>
        <p>Level 2: Game Originator</p>
    </div>

    <%= render 'shared/like_button', offering: @team if signed_in? %>
    <%= render 'shared/join_link', offering: @team, participating_actor: "user", dir: "teams" if signed_in? %>

    <a href="#"><div class="shareButton"></div></a>
    <%= link_to "Edit", edit_team_path(@team), class: "button blue left" if signed_in? && current_user == @team.creator %>

  </div>

  <div class="secondMenu">
    <nav id="secondary">
      <ul>
        <li id="joined"><a href="#">Joined (<span id="joinCount"><%= @members.count %></span>)</a></li>
        <li id="Description"><a href="#">Description</a></li>
        <li id="likes"><a href="#">Likes (<span id="likeCount"><%= @team.flaggings.with_flag(:like).count %></span>)</a></li>
      </ul>
    </nav>
  </div>
  <div class="team">
    <div class="body">
        <%= render 'shared/cardsection', individuals: @members, offering: @team, class_name: "joined", makeadmin: true, typefor: "team" %>
    <div class="Description">
        <p><%= @team.descreption %></p>
    </div>
        <%= render 'shared/cardsection', individuals: @likes, offering: @team, class_name: "likes", makeadmin: true, typefor: "team"  %>


<!--
      <div class="sideBar">

        <%= render 'shared/side_intrest' %>

        <%= render 'shared/similar_players' %>

      </div> -->
    </div>
  </div>
</div>