  <div class="userInfo">
<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => " / " %>
    <div class="eventProfileCard">
      <div class="large"><%= logo_for(@team, size: :user_profile, css_style: "margin:15px auto;") %></div>
      <h1><%= @team.title %></h1>
      <p>Sports: <%= @team.sport %></p>
      <footer>
        <span class="right">players: <%= @team.number_of_attendings %></span>
      </footer>
    </div>

    <div class="locationPartial">
      <div class="locationTitle">Location</div>
      <div class="map"></div>
    </div>

    <div class="activityOrigin">
        <div class="OriginTitle">Activity Originator</div>
        <div class="UserimgName">
            <%= logo_for(@team.creator, size: :small, css_class: "userCardImage left") %>
            <%= link_to @team.creator.name , user_path(@team.creator) %>
        </div>
        <p>Level 2: Game Originator</p>
    </div>

    <%= render 'shared/like_button', offering: @team if signed_in? %>
    <%= render 'shared/join_link', this: @team, participating_actor: "user" if signed_in? %>

    <a href="#"><div class="shareButton"></div></a>
    <%= link_to "Edit", edit_team_path(@team), class: "button blue left" if signed_in? && current_user == @team.creator %>

  </div>

  <div class="secondMenu">
    <nav id="secondary">
      <ul>
        <li id="Description" class="navActive"><a href="#">Description</a></li>
        <li id="joined"><a href="#">Members (<span id="joinCount"><%= @members.count %></span>)</a></li>
        <li id="likes"><a href="#">Likes (<span id="likeCount"><%= @team.flaggings.with_flag(:like).count %></span>)</a></li>
        <li id="gallery"><a href="#">gallery</a></li>
      </ul>
    </nav>
  </div>
  <div class="team">
    <div class="body">
        <%= render 'shared/cardsection', individuals: @members, this: @team, class_name: "joined", makeadmin: true %>
    <div class="Description">
        <div class="teamDesc">
            <div class="desctext">
                <div class="<%= @team.category %> left"></div>  <br> <br> <br>
                <p><%= @team.descreption %></p>
            </div>
            <%# render "shared/upcoming_offering_test" %>
        </div>

        <% if current_user.teams_administrating.include?(@team) %>
             <div class="activity_table">
            <h1>Team Notifications</h1>
                    <%= render "shared/notification_message", recent_activities: @team_notifications, log_title: "team notification" %>
            </div>
            <%= render "shared/activity_table", recent_activities: @recent_activities %>
        <% end %>



    </div>
        <%= render 'shared/cardsection', individuals: @likes, this: @team, class_name: "likes", makeadmin: true %>

        <%= render 'shared/gallery' %>

<!--
      <div class="sideBar">

        <%= render 'shared/side_intrest' %>

        <%= render 'shared/similar_players' %>

      </div> -->
    </div>
  </div>
</div>