<div class="body signPage">
        <header><div class="icon left"></div><h3>Sign in</h3></header>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

            <table colspan="5">
                 <tr>
                    <td><%= f.label :email, class: "right" %></td>
                    <td><%= f.email_field :email, class: "textField" %></td>
                </tr>
                <tr>
                    <td><%= f.label :password, class: "right" %></td>
                    <td><%= f.password_field :password, class: "textField" %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <% if devise_mapping.rememberable? -%>
                            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                        <% end -%>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><%= f.submit 'Sign in', class: "button grey submitBtn homeBtn right" %></td>
                </tr>
                <tr>
                    <td><%= link_to "Sign Up", new_account_registration_path, class: "right" %></td>
                    <td><%= link_to "Forgot your password?", new_account_password_path('user'), class: "right" %></td>
                </tr>
            </table>
        <% end %>
</div>