<article class="userCard">
  <header class="userCardHeader">
     <%= link_to  logo_for(person, css_class: "userCardImage left"), user_path(person)%>
    <h5 class="userCardTitle text-left">
      <%= link_to person.title, user_path(person) %>
    </h5>
  </header>

  <div class="userCardLevel">
    <p>Level: <%= person.level %></p>
  </div>

  <div class="userCardRecent text-left">
    <p>Recent Activities</p>
    <% person.recent_offerings_participating(4).each do |offering| %>
        <div>
            <%= link_to offering, target: "_blank", title: "#{offering.title}" do %>
                <%= logo_for(offering, size: :small, css_style: "margin:3px auto;") %>
            <% end -%>
        </div>
    <% end %>
    <div class="makeAdminDiv">
        <span id="makeAdmin<%= person.id %>">
            <% if user_is_admin?(this) %>
                <% if !user_is_admin?(this,person) %>
                    <%= render 'users/make_admin', person: person,  this: this  %>
                <% elsif user_is_admin?(this, person) && (user_created_this?(this) or current_user?(person)) && this.administrators.count > 1 %>
                    <%= render 'users/remove_admin', person: person,  this: this %>
                <% end %>
            <% end %>
        <span id="inviteBtn<%= person.id %>" class="right">
            <%= render 'shared/invite_button', this: this, person: person unless ["Venue", "PersonalTrainer", "GroupTraining"].include? this.class.to_s %>
        </span>

        </span>
    </div>

  </div>
</article>