<article class="userCard">
  <header class="userCardHeader">
     <%= link_to  logo_for(person, css_class: "userCardImage left"), user_path(person)%>
    <h5 class="userCardTitle text-left">
      <%= link_to person.name, user_path(person) %>
    </h5>
  </header>

  <div class="userCardLevel">
    <p>Level: <%= person.level %></p>
  </div>

  <div class="userCardRecent text-left">
    <p>Recent Activities</p>
    <% person.recent_offerings_participating(4).each do |offering| %>
        <div>
            <%= link_to offering, target: "_blank", title: "#{offering.title}" do %>
                <%= logo_for(offering, size: :small, css_style: "margin:3px auto;") %>
            <% end -%>
        </div>
    <% end %>
  </div>
</article>