<article class="userCard">
  <header class="userCardHeader">
     <%= link_to  logo_for(person, css_class: "userCardImage left"), user_path(person)%>
    <h5 class="userCardTitle text-left">
      <%= link_to person.name, user_path(person) %>
    </h5>
  </header>

  <div class="userCardLevel">
    <p>Level: First Boomer</p>
  </div>

  <div class="userCardRecent text-left">
    <p>Recent Activities</p>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
<span id="makeAdmin<%= person.id %>">
    <% if user_is_admin?(this) %>
        <% if !user_is_admin?(this,person) %>
            <%= render 'users/make_admin', person: person,  this: this  %>
        <% elsif user_is_admin?(this, person) && (user_created_this?(this) or current_user?(person)) && this.administrators.count > 1 %>
            <%= render 'users/remove_admin', person: person,  this: this %>
        <% end %>
    <% end %>

    <%= link_to "invite", invitations_path(inviter_id: this.creator.id, inviter_type: "User", invited_id: person.id, invited_type: "User", subject_id: this.id, subject_type: this.class.to_s, return_object_id: this.id, return_object_type: this.class.to_s), method: :post %>
</span>
  </div>
</article>