<h2>Edit <%= @user.name.to_s.humanize %></h2>

<h1>Update your profile</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>	
			<%= render 'shared/error_messages', object: f.object %>

			<div><%= f.label "User Name" %><br />
			<%= f.text_field :name %></div>

			<%= f.fields_for :profile do |profile_form| %> 

				<div><%= profile_form.label :first_name %><br />
				<%= profile_form.text_field :first_name %>

				<div><%= profile_form.label :last_name %><br />
				<%= profile_form.text_field :last_name %></div>

				<div><%= profile_form.label :phone %><br />
				<%= profile_form.text_field :phone %></div>
													
				<div><%= profile_form.label :date_of_birth %><br />
				<%= select_date @date_of_birth, :prefix => :date_of_birth %></div>

				<div><%= profile_form.label :about %><br />
    		<%= profile_form.text_area :about, 
    						placeholder: "Write something about yourself..." %></div>

			<% end %>

			<div><%= f.submit "Save changes", class: "btn btn-large btn-primary" %></div>
		<% end %>

		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails">change</a>
									
	</div>
</div>