
<div class="body">
    <div class="offering_management">
                    <h1>Manage Offerings</h1>

                    <table width="100%">
                        <tr>
                             <th >Type</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Joined</th>
                            <th>Liked</th>
                        </tr>
                        <tr>
                            <td colspan="6" class="offeringtype" id="ptType">
                                 <%= image_tag "fitness-icon.png", width: 25 %> <a href="#">Personal Training (2)</a> <%= image_tag "drop-icon.png", width: 20, class: "drop" %>
                            </td>
                        </tr>


                        <tr class="ptdata">
                            <td></td>
                            <td><%= image_tag "bg.png", width: 40 %> <a href="#">Yalla let’s Volley</a> </td>
                            <td>16/6/2012</td>
                            <td>Salmiya Beach</td>
                            <td> <a href="#">(2) Teams</a> </td>
                            <td> <a href="#">(24)</a> </td>
                        </tr>

                        <tr class="ptdata">
                            <td></td>
                            <td><%= image_tag "bg.png", width: 40 %> <a href="#">Yalla let’s Volley</a> </td>
                            <td>16/6/2012</td>
                            <td>Salmiya Beach</td>
                            <td> <a href="#">(2) Teams</a> </td>
                            <td> <a href="#">(24)</a> </td>
                        </tr>




                        <tr>
                            <td colspan="6" class="offeringtype" id="clType">
                                <%= image_tag "class-icon.png", width: 25 %> <a href="#">Classes (1)</a> <%= image_tag "drop-icon.png", width: 20, class: "drop" %>
                            </td>
                        </tr>



                        <tr class="cldata">
                            <td></td>
                            <td><%= image_tag "bg.png", width: 40 %> <a href="#">Yalla let’s Volley</a> </td>
                            <td>16/6/2012</td>
                            <td>Salmiya Beach</td>
                            <td> <a href="#">(2) Teams</a> </td>
                            <td> <a href="#">(24)</a> </td>
                        </tr>



                        <tr>
                            <td colspan="6" class="offeringtype" id="evType">
                                 <%= image_tag "event-icon.png", width: 25 %> <a href="#">Event (5)</a> <%= image_tag "drop-icon.png", width: 20, class: "drop" %>
                            </td>
                        </tr>


                        <tr class="evdata">
                            <td></td>
                            <td><%= image_tag "bg.png", width: 40 %> <a href="#">Yalla let’s Volley</a> </td>
                            <td>16/6/2012</td>
                            <td>Salmiya Beach</td>
                            <td> <a href="#">(2) Teams</a> </td>
                            <td> <a href="#">(24)</a> </td>
                        </tr>

                        <tr class="evdata">
                            <td></td>
                            <td><%= image_tag "bg.png", width: 40 %> <a href="#">Yalla let’s Volley</a> </td>
                            <td>16/6/2012</td>
                            <td>Salmiya Beach</td>
                            <td> <a href="#">(2) Teams</a> </td>
                            <td> <a href="#">(24)</a> </td>
                        </tr>


                        <tr class="evdata">
                            <td></td>
                            <td><%= image_tag "bg.png", width: 40 %> <a href="#">Yalla let’s Volley</a> </td>
                            <td>16/6/2012</td>
                            <td>Salmiya Beach</td>
                            <td> <a href="#">(2) Teams</a> </td>
                            <td> <a href="#">(24)</a> </td>
                        </tr>

                        <tr class="evdata">
                            <td></td>
                            <td><%= image_tag "bg.png", width: 40 %> <a href="#">Yalla let’s Volley</a> </td>
                            <td>16/6/2012</td>
                            <td>Salmiya Beach</td>
                            <td> <a href="#">(2) Teams</a> </td>
                            <td> <a href="#">(24)</a> </td>
                        </tr>


                        <tr class="evdata">
                            <td></td>
                            <td><%= image_tag "bg.png", width: 40 %> <a href="#">Yalla let’s Volley</a> </td>
                            <td>16/6/2012</td>
                            <td>Salmiya Beach</td>
                            <td> <a href="#">(2) Teams</a> </td>
                            <td> <a href="#">(24)</a> </td>
                        </tr>
                    </table>
    </div>
</div>
