<div id="tabPanelWrapper"></div>

<div class="body">
    <div class="offering_management">
                    <h1>Manage Offerings </h1>

                    <table width="100%">
                        <tr>
                             <th >Type</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Joined</th>
                            <th>Liked</th>
                            <th>Link</th>
                        </tr>

<!-- Personal Training -->
                        <tr>
                            <td colspan="7" class="offeringtype" id="ptType">
                                 <%= image_tag "fitness-icon.png", width: 25 %> <a href="#">Personal Training (<%= @personal_trainers.count %>)</a> <%= image_tag "drop-icon.png", width: 20, class: "drop" %>
                            </td>
                        </tr>

                        <% @personal_trainers.each do |e| %>
                            <tr class="ptdata">
                                <td></td>
                                <td>
                                    <div class="managementImg">
                                        <%= logo_for(e, size: :small) %><%= link_to e.title, personal_trainer_path(e) %>
                                    </div>
                                </td>
                                <td>N/A</td>
                                <td><%= e.location.custom_address %></td>
                                <td>N/A</td>
                                <td><%= link_to "("+e.flaggings.with_flag(:like).count.to_s+")", personal_trainer_path(e)  %> </td>
                                <td>
                                    <%= link_to "Edit", edit_personal_trainer_path(e), class: "button blue" %>
                                </td>
                            </tr>
                        <% end -%>



<!-- Classes -->


                        <tr>
                            <td colspan="7" class="offeringtype" id="clType">
                                <%= image_tag "class-icon.png", width: 25 %> <a href="#">Classes (<%= @group_trainings.count %>)</a> <%= image_tag "drop-icon.png", width: 20, class: "drop" %>
                            </td>
                        </tr>

                        <% @group_trainings.each do |e| %>
                            <tr class="cldata">
                                <td></td>
                                <td>
                                    <div class="managementImg">
                                        <%= logo_for(e, size: :small) %><%= link_to e.title, group_training_path(e) %>
                                    </div>
                                </td>
                                <td>N/A</td>
                                <td><%= e.location.custom_address %></td>
                                <td>N/A</td>
                                <td><%= link_to "("+e.flaggings.with_flag(:like).count.to_s+")", group_training_path(e)  %> </td>
                                <td>
                                    <%= link_to "Edit", edit_group_training_path(e), class: "button blue" %>
                                </td>
                            </tr>
                        <% end -%>


<!-- Venues -->


                        <tr>
                            <td colspan="7" class="offeringtype" id="vnType">
                                <%= image_tag "class-icon.png", width: 25 %> <a href="#">Venues (<%= @venues.count %>)</a> <%= image_tag "drop-icon.png", width: 20, class: "drop" %>
                            </td>
                        </tr>

                        <% @venues.each do |e| %>
                            <tr class="vndata">
                                <td></td>
                                <td>
                                    <div class="managementImg">
                                        <%= logo_for(e, size: :small) %><%= link_to e.title, venue_path(e) %>
                                    </div>
                                </td>
                                <td>N/A</td>
                                <td><%= e.location.custom_address %></td>
                                <td>N/A</td>
                                <td><%= link_to "("+e.flaggings.with_flag(:like).count.to_s+")", venue_path(e)  %> </td>
                                <td>
                                    <%= link_to "Edit", edit_venue_path(e), class: "button blue" %>
                                </td>
                            </tr>
                        <% end -%>


<!-- Events -->

                        <tr>
                            <td colspan="7" class="offeringtype" id="evType">
                                 <%= image_tag "event-icon.png", width: 25 %> <a href="#">Events (<%= @events.count %>)</a> <%= image_tag "drop-icon.png", width: 20, class: "drop" %>
                            </td>
                        </tr>


                        <% @events.each do |e| %>
                            <tr class="evdata">
                                <td></td>
                                <td>
                                    <div class="managementImg">
                                        <%= logo_for(e, size: :small) %> <%= link_to e.title, event_path(e) %>
                                    </div>
                                </td>
                                <td><%= e.happening_case.date_and_time.strftime("%A, %B %d, %Y") %></td>
                                <td><%= e.location.custom_address %></td>
                                <td>
                                    <%     if e.team_participation == false
                                                    @participator = e.individual_participators
                                            else
                                                @participator = e.team_participators
                                            end %>
                                         <%= link_to "("+@participator.count.to_s+")", event_path(e) %>
                                        </td>
                                <td><%= link_to "("+e.flaggings.with_flag(:like).count.to_s+")", event_path(e)  %> </td>
                                <td>
                                    <%= link_to "Edit", edit_event_path(e), class: "button blue" %>
                                </td>
                            </tr>
                        <% end -%>

<!-- Game -->

                        <tr>
                            <td colspan="7" class="offeringtype" id="gmType">
                                 <%= image_tag "event-icon.png", width: 25 %> <a href="#">Games (<%= @games.count %>)</a> <%= image_tag "drop-icon.png", width: 20, class: "drop" %>
                            </td>
                        </tr>


                        <% @games.each do |e| %>
                            <tr class="gmdata">
                                <td></td>
                                <td>
                                    <div class="managementImg">
                                        <%= logo_for(e, size: :small) %> <%= link_to e.title, game_path(e) %>
                                    </div>
                                </td>
                                <td><%= e.happening_case.date_and_time.strftime("%A, %B %d, %Y") %></td>
                                <td><%= e.location.custom_address %></td>
                                <td>
                                    <%     if e.team_participation == false
                                                    @participator = e.individual_participators
                                            else
                                                @participator = e.team_participators
                                            end %>
                                         <%= link_to "("+@participator.count.to_s+")", game_path(e) %>
                                        </td>
                                <td><%= link_to "("+e.flaggings.with_flag(:like).count.to_s+")", game_path(e)  %> </td>
                                <td>
                                    <%= link_to "Edit", edit_game_path(e), class: "button blue" %>
                                </td>
                            </tr>
                        <% end -%>

<!-- Teams -->

                        <tr>
                            <td colspan="7" class="offeringtype" id="tmType">
                                 <%= image_tag "event-icon.png", width: 25 %> <a href="#">Teams (<%= @teams.count %>)</a> <%= image_tag "drop-icon.png", width: 20, class: "drop" %>
                            </td>
                        </tr>


                        <% @teams.each do |e| %>
                            <tr class="tmdata">
                                <td></td>
                                <td colspan="3">
                                    <div class="managementImg">
                                        <%= logo_for(e, size: :small) %> <%= link_to e.title, team_path(e) %>
                                    </div>
                                </td>
                                <td>
                                         <%= link_to "("+e.members.count.to_s+")", team_path(e) %>
                                        </td>
                                <td><%= link_to "("+e.flaggings.with_flag(:like).count.to_s+")", team_path(e)  %> </td>
                                <td>
                                    <%= link_to "Edit", edit_team_path(e), class: "button blue" %>
                                </td>
                            </tr>
                        <% end -%>

                    </table>
    </div>
</div>