<div class="container-fluid userInfo">
    <div class="row-fluid">
<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => " / " %>
        <div class="span7 UserProfileCard">
            <div class="span4">
                <div class="large"><%= logo_for(@user, size: :user_profile) %></div>
            </div>
            <div class="span8">
                <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
<!--                 <div class="small"></div>
                <div class="small"></div>
                <div class="small"></div>
                <p><%= @user.profile.about %></p>
                <footer>
                <span>First Boomer</span>
                <span >1</span>
                <%= image_tag "test.png" %><span>122</span>
                </footer> -->
            </div>
        </div>

    <div class="span3 stats">
      <span class="statsHeader">Basic Stats</span>
      <div>
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="statLabel">
              Games:
            </td>
            <td class="statNumber">
              7
            </td>
          </tr>
          <tr>
            <td class="statLabel">
              Events:
            </td>
            <td class="statNumber">
              1
            </td>
          </tr>
          <tr>
            <td class="statLabel">
              Teams:
            </td>
            <td class="statNumber">
              4
            </td>
          </tr>
        </table>
      </div>
    </div>
</div>


   <!--  <a href="#" class="button blue left">Follow</a> -->
   <%= render 'shared/follow_form' if signed_in?  %>
<!--     <a href="#" class="button blue left">Challenge</a>
    <a href="#" class="button blue left">Recommend</a> -->

<br>

  </div>

  <div class="secondMenu">
    <nav id="secondary">
      <ul>
        <li id="activities" class="navActive"><a href="#">Activities (<%= @user.recent_offerings_participating.count %>)</a></li>
        <li id="likeSection"><a href="#">Likes (<%= @likes.with_flag(:like).count %>)</a></li>
        <li id="FollowingSection"><a href="#">Following (<%= @user.followed_users.count %>)</a></li>
        <li id="FollowerSection"><a href="#">Followers (<%= @user.followers.count %>)</a></li>

        <li id="TeamSection"><a href="#">Teams (<%= @user.teams_membership.count %>)</a></li>
      </ul>
    </nav>
  </div>


<div class="userBottom">

<div class="container-fluid body userBottom">

    <div class="activityCards">
        <% @user.recent_offerings_participating.each do |offering| %>
            <%= render 'shared/offering/offering', offering: offering, class_name: "activityCards" %>
        <% end %>
    </div>

    <div class="row-fluid likeSection">
        <div class="cardsection span9">
            <% i = 0 %>
            <% @likes.each do |offering| %>
                <% @f = offering.flaggable %>
                <% if i == 0 %>
                <div class="row-fluid">
                <% end %>
                <div class="span4 indexCards">
                    <% unless k_lower(offering) == "Team" %>
                        <%= render 'shared/offering/offering', offering: @f, class_name: "gameList" %>
                    <% else %>
                        <%= render 'teams/team', team: offering %>
                    <% end %>
                </div>
                <% if i == 2 || @f == @likes.last || offering == @likes.last %>
                </div>
                <% end %>
            <%
                    if i == 2
                        i = 0
                    else
                        i = i + 1
                    end
            %>
            <% end %>
        </div>
    </div>

    <div class="FollowingSection">
        <%= render 'shared/cardsection', individuals: @user.followed_users, class_name: "FollowedUsers", makeadmin: false %>
    </div>

    <div class="FollowerSection">
        <%= render 'shared/cardsection', individuals: @user.followers, class_name: "Followers", makeadmin: false %>
    </div>

    <div class="teamCards">
        <% @user.teams_membership.each do |t| %>
            <%= render 'teams/team', team: t, class_name: "teamCards", person: @user %>
        <% end %>
    </div>

</div>
</div>