<% unless collectives.nil? %>
    <div>
        <% collectives.each do |collective| %>
        <% if collective.class.to_s == "String" %>
            <a href="#" id="collective<%= collective.tr(' ', '_') %>" class="collective_label">
                    <% unless collective == "group_training" %>
                        <span class="label"><%= collective.humanize %></span>
                    <% else %>
                        <span class="label">Class</span>
                    <% end -%>
            </a>
        <% else %>
            <a href="#" id="<%= collective.title.tr(' ', '_') %>" class="collective_label">
                <span class="label" data-id="<%= collective.id %>"><%= collective.title %></span>
            </a>
        <% end %>

        <% end %>
    </div>
<% end %>
