<div class="body edit_offering_session">
    <h2 class="header_text">Edit Session</h2>
    <div class="offering">
        <%= form_for(@offering_session_edit, :remote => true) do |f| %>
        <table width="100%">
            <tr>
                <td width="130">
                    <%= f.label :collective_type %>
                </td>
                <td>
                    <%= f.select :collective_type, ["none", "existing", "new"] %>
                </td>
            </tr>
            <tr class="new_collective">
                <td width="130">
                    <%= f.label :collective_title %>
                </td>
                <td>
                    <%= f.text_field :collective_title %>
                </td>
            </tr>
            <tr class="existing_collective">
                <td width="130">
                    <%= f.label :collective_id %>
                </td>
                <td>
                    <%= f.select :collective_id, Collective.find(:all).collect {|c| [c.title, c.id]} %>
                </td>
            </tr>
            <tr>
                <td width="130">
                    <%= f.label :descreption, "Description" %>
                </td>
                <td>
                    <%= f.text_field :descreption %>
                </td>
            </tr>
            <tr>
                <td width="130">
                    <%= f.label :number_of_attendings %>
                </td>
                <td>
                    <%= f.text_field :number_of_attendings %>
                </td>
            </tr>
            <tr>
                <td width="130">
                    <%= f.label :title %>
                </td>
                <td>
                    <%= f.text_field :title %>
                </td>
            </tr>
                    <%= render "shared/happening_case", happening_case: @edit_happening_case, date_id: "edit_happening_case_date_and_time", duration_id: "edit_happening_case_duration_type" %>
            <tr>
                <td width="130">
                    <%= f.label :collection_flag %>
                </td>
                <td>
                    <%= f.check_box :collection_flag %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.hidden_field :owner_type, value: "Venue" %>
                    <%= f.hidden_field :owner_id, value: @venue.id %>
                </td>
            </tr>
            <tr>
                <td  colspan="2">
                    <%= f.submit "Create the Session", class: "btn btn-primary left submitBtn" %>
                </td>
            </tr>
        </table>
        <% end -%>
    </div>
</div>