<div class="body new_offering_session">
    <h2 class="header_text">New Session</h2>
    <a href="#" id="cancel_new" class="btn btn-danger">Cancel New</a>
    <div class="offering">
        <%= form_for(@offering_session) do |f| %>
        <table width="100%">
            <tr>
                <td width="130">
                    <%= f.label :collective_type %>
                </td>
                <td>
                    <%= f.select :collective_type, ["none", "existing", "new"] %>
                </td>
            </tr>
            <tr class="new_collective">
                <td width="130">
                    <%= f.label :collective_title %>
                </td>
                <td>
                    <%= f.text_field :collective_title %>
                </td>
            </tr>
            <tr class="existing_collective">
                <td width="130">
                    <%= f.label :collective_id %>
                </td>
                <td>
                    <%= f.select :collective_id, Collective.find(:all).collect {|c| [c.title, c.id]} %>
                </td>
            </tr>
            <tr>
                <td width="130">
                    <%= f.label :descreption, "Description" %>
                </td>
                <td>
                    <%= f.text_field :descreption %>
                </td>
            </tr>
            <tr>
                <td width="130">
                    <%= f.label :number_of_attendings %>
                </td>
                <td>
                    <%= f.text_field :number_of_attendings %>
                </td>
            </tr>
            <tr>
                <td width="130">
                    <%= f.label :title %>
                </td>
                <td>
                    <%= f.text_field :title %>
                </td>
            </tr>
                    <%= render "shared/happening_case", happening_case: @happening_case %>
            <tr>
                <td width="130">
                    <%= f.label :collection_flag %>
                </td>
                <td>
                    <%= f.check_box :collection_flag %>
                </td>
            </tr>
            <tr id="repeat_row">
                <td colspan="2">
                    <span>Repeat every</span> <%= f.select :repeat_every, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"] %> <%= f.select :repeat_duration, ["hour", "day", "week", 'month'] %> <span>for</span> <%= f.select :repeat_number, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"] %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.hidden_field :owner_type, value: "Venue" %>
                    <%= f.hidden_field :owner_id, value: owner.id %>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <%= f.submit "Create the Session", class: "btn btn-primary left submitBtn" %>
                </td>
            </tr>
        </table>
        <% end -%>
    </div>
</div>