<div class="calendar">
    <br>
    <a href="#" id="new_offering_session" class="btn left">New session</a>
    <div class="btn-group left pad_left">
        <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
        Delete Collectives
        <span class="caret"></span>
        </a>
        <% if @collectives %>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to "Explode", destroy_collective_offering_session_path(owner_type: owner.class.to_s, owner_id: owner.id, explode: "true"), id: "explode_collective" %>
                </li>
                <li><%= link_to "Explode", destroy_collective_offering_session_path(owner_type: owner.class.to_s, owner_id: owner.id), id: "explode_collective" %></li>
            </ul>
        <% end %>
    </div>
    <br>
    <br>
    <div id="collectives"><%= render "schedule/collectives", collectives: collectives %></div>
    <div id="articles">
      <h2 id="month">
        <%= link_to "<", date: @date.prev_month %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to ">", date: @date.next_month %>
      </h2>
      <%= calendar @date do |date| %>
        <%= date.day %>
        <% if grouped_sessions[date] %>
          <ul>
            <% grouped_sessions[date].each do |session| %>
              <li><%= link_to session.title, send("#{owner.class.to_s.underscore}_path", owner, session_id: session.id), class: "session #{session.collective.title.tr(' ', '_') unless session.collective.nil?}", :remote => true %>
                <% unless session.happening_case.duration_type == "All Day" %>
                    <br>
                    ( <%= session.happening_case.time_from.strftime('%H:%M') %> to <%= session.happening_case.time_to.strftime('%H:%M') %> )
                <%- end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
</div>