<%= content_tag("div", "", class: "cardsection") do %>
    <div class="gallery">
        <%= link_to image_tag("bg.png", width: 200), "/assets/bg.png" , class: "imageModal" %>
    </div>
    <div class="gallery">
        <%= link_to image_tag("bg.png", width: 200), "/assets/bg.png" , class: "imageModal" %>
    </div>
    <div class="gallery">
        <%= link_to image_tag("bg.png", width: 200), "/assets/bg.png" , class: "imageModal" %>
    </div>
    <div class="gallery">
        <%= link_to image_tag("bg.png", width: 200), "/assets/bg.png" , class: "imageModal" %>
    </div>
<% end -%>