<div id="headerMenu" class="guestMenu">
  <div id="dashboard" class="left">
    <div class="left explore"></div>
        <a href="#">Explore</a>
        <ul id="ExploreDrop">
          <li>
              <%= link_to content_tag("div", "Events", class: "left exploresub"), events_path %>
          </li>
          <li>
              <%= link_to content_tag("div", "Games", class: "left exploresub"), games_path %>
          </li>
          <li>
            <div class="left exploresub">
              <div class="left"></div>
              <a href="#">Classes</a>
              <!-- <%= link_to "Events", events_path %> -->
            </div>
          </li>
          <li>
            <div class="left exploresub">
              <div class="left"></div>
              <a href="#">Tournament</a>
              <!-- <%= link_to "Events", events_path %> -->
            </div>
          </li>
          <li>
              <%= link_to content_tag("div", "Teams", class: "left exploresub"), teams_path %>
          </li>
        </ul>
  </div>
</div>