<div id="headerMenu">
  <div id="dashboard" class="left">
        <a href="#"><i class="menu fa fa-play"></i> Explore</a>
        <ul id="ExploreDrop">
          <li><%= link_to content_tag("div", "Events", class: "left exploresub"), events_path %></li>
          <li><%= link_to content_tag("div", "Games", class: "left exploresub"), games_path %></li>
          <li><%= link_to content_tag("div", "Venues", class: "left exploresub"), venues_path %></li>
          <li><%= link_to content_tag("div", "Classes", class: "left exploresub"), group_trainings_path %></li>
          <li><%= link_to content_tag("div", "Personal Trainers", class: "left exploresub"), personal_trainers_path %></li>
          <li><%= link_to content_tag("div", "Teams", class: "left exploresub"), teams_path %></li>
        </ul>
  </div>
  <div id="notiMenu" class="left">
    <%= link_to notification_path do %>
        <i class="menu fa fa-globe"></i>  Notifications
    <% end -%>
  </div>
  <div id="createNewMenu" class="left">
    <a href="#Create"><i class="menu fa fa-plus"></i> Create New</a>
  </div>
  <div id="userMenu">
    <%= link_to logo_for(current_user,size: :small) + " " + current_user.name, user_path(current_user) %>
    <!-- <a href="#"><%= image_tag "rails.png", :class => "left" %> Morteza Heydari</a> -->
    <ul id="userDrop">
      <li>
        <div id="editProfile" class="left">
            <%= link_to edit_user_path(current_user) do %>
                <i class="menu fa fa-cog"></i>  Edit Profile
            <% end -%>
        </div>
      </li>
      <li>
        <div id="editProfile" class="left">
            <%= link_to schedule_user_path(current_user) do %>
                <i class="menu fa fa-calendar"></i>  My Schedule
            <% end -%>
        </div>
      </li>
      <li>
        <div id="manageOffering" class="left">
            <%= link_to offering_management_user_path(current_user) do %>
                <i class="menu fa fa-folder-open"></i>  Manage Offerings
            <% end -%>
        </div>
      </li>
      <hr>
      <li>
            <%= link_to destroy_account_session_path, method: :delete, id: "signOutTop" do %>
                <i class="menu fa fa-sign-out"></i>  Sign out
            <% end -%>
        </li>
    </ul>
  </div>
</div>