<div id="headerMenu">
  <div id="dashboard" class="left">
    <div class="left explore"></div>
        <a href="#">Explore</a>
        <ul id="ExploreDrop">
          <li><%= link_to content_tag("div", "Events", class: "left exploresub"), events_path %></li>
          <li>
              <%= link_to content_tag("div", "Games", class: "left exploresub"), games_path %>
          </li>
          <li>
            <div class="left exploresub">
              <div class="left"></div>
              <a href="#">Classes</a>
            </div>
          </li>
          <li>
            <div class="left exploresub">
              <div class="left"></div>
              <a href="#">Tournament</a>
            </div>
          </li>
          <li><%= link_to content_tag("div", "Teams", class: "left exploresub"), teams_path %></li>
        </ul>
  </div>
  <div id="notiMenu" class="left">
    <div class="left"></div>
    <%= link_to "Notifications", notification_path %>
  </div>
  <div id="createNewMenu" class="left">
    <div class="left"></div>

    <a href="#Create">Create New</a>
  </div>
  <div id="userMenu">
    <%= link_to logo_for(current_user,size: :small) + " " + current_user.name, user_path(current_user) %>
    <!-- <a href="#"><%= image_tag "rails.png", :class => "left" %> Morteza Heydari</a> -->
    <ul id="userDrop">
      <li>
        <div id="editProfile" class="left">
          <div class="left"></div>
          <%= link_to "Edit Profile", edit_user_path(current_user) %>
        </div>
      </li>
      <li>
        <div id="manageOffering" class="left">
          <div class="left"></div>
          <%= link_to "Manage Offerings", href="offering_management_user_path(current_user) " %>
        </div>
      </li>
      <hr>
      <li><%=  link_to "Sign out", destroy_account_session_path, id: "signOutTop", method: :delete  %></li>
    </ul>
  </div>
</div>