<div id="headerMenu">
  <div id="dashboard" class="left">
    <div class="left explore"></div>
        <a href="#">Explore</a>
        <ul id="ExploreDrop">
          <li>
            <div class="left exploresub">
              <div class="left"></div>
              <%= link_to "Events", events_path %>
            </div>
          </li>
          <li>
            <div class="left exploresub">
              <div class="left"></div>
              <a href="#">Games</a>
              <!-- <%= link_to "Games", events_path %> -->
            </div>
          </li>
          <li>
            <div class="left exploresub">
              <div class="left"></div>
              <a href="#">Classes</a>
              <!-- <%= link_to "Events", events_path %> -->
            </div>
          </li>
          <li>
            <div class="left exploresub">
              <div class="left"></div>
              <a href="#">Tournament</a>
              <!-- <%= link_to "Events", events_path %> -->
            </div>
          </li>
        </ul>
  </div>
  <div id="notiMenu" class="left">
    <div class="left"></div>
    <a href="#">Notifications</a>
  </div>
  <div id="createNewMenu" class="left">
    <div class="left"></div>
    <a href="#">Create New</a>
  </div>
  <div id="userMenu">
    <%= link_to gravatar_for(current_user)+current_user.name, user_path(current_user) %>
    <!-- <a href="#"><%= image_tag "rails.png", :class => "left" %> Morteza Heydari</a> -->
    <ul id="userDrop">
      <li>
        <div id="editProfile" class="left">
          <div class="left"></div>
          <%= link_to "Edit Profile", edit_user_path(current_user) %>
        </div>
      </li>
      <li>
        <div id="manageOffering" class="left">
          <div class="left"></div>
          <a href="#">Manage Offerings</a>
        </div>
      </li>
      <hr>
      <li><%=  link_to "Sign out", destroy_account_session_path, id: "signOutTop", method: :delete  %></li>
    </ul>
  </div>
</div>