<!-- Modal -->
<div id="Create" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header header">
    <div class="Createicon left"></div><h3 id="myModalLabel">Create New</h3>
  </div>
  <div class="modal-body">
<!--     <div class="linkContainer">
        <div class="left"><%= link_to content_tag("div", "", class: "classIcon center"), new_team_path %> <%= link_to content_tag("p", "Team"), new_team_path %></div>
        <div class="left borderlr"><%= link_to content_tag("div", "", class: "eventIcon center"), new_event_path %> <%= link_to content_tag("p", "Event"), new_event_path %></div>
        <div class="left" id="tour"><%= link_to content_tag("div", "", class: "tourIcon center"), new_game_path %> <%= link_to content_tag("p", "Game"), new_game_path %></div>
    </div> -->
    <div class="linkContainer">
        <% if current_user.can_create? "event" %>
            <%= link_to new_event_path, class: "modalLinks" do %>
                <div>
                    <i class="fa fa-flag"></i> Event
                </div>
            <% end %>
        <% end -%>
        <% if current_user.can_create? "game" %>
            <%= link_to new_game_path, class: "modalLinks" do %>
                <div>
                    <i class="fa fa-flag"></i> Game
                </div>
            <% end %>
        <% end -%>
        <% if current_user.can_create? "venue" %>
            <%= link_to new_venue_path, class: "modalLinks" do %>
                <div>
                    <i class="fa fa-flag"></i> Venue
                </div>
            <% end %>
        <% end -%>
        <% if current_user.can_create? "group_training" %>
            <%= link_to new_group_training_path, class: "modalLinks" do %>
                <div>
                    <i class="fa fa-flag"></i> Class
                </div>
            <% end %>
        <% end -%>
        <% if current_user.can_create? "personal_trainer" %>
            <%= link_to new_personal_trainer_path, class: "modalLinks" do %>
                <div>
                    <i class="fa fa-flag"></i> Personal Trainer
                </div>
            <% end %>
        <% end -%>
        <% if current_user.can_create? "team" %>
            <%= link_to new_team_path, class: "modalLinks" do %>
                <div>
                    <i class="fa fa-flag"></i> Team
                </div>
            <% end %>
        <% end -%>
    </div>
  </div>
</div>