<div style="display:none">
<!-- <div id="modal">
    <%= link_to "Event", new_event_path %> <br>
    <%= link_to "Game", new_game_path %> <br>
    <%= link_to "Team", new_team_path %>
    <a href="#" class="close">close</a>
</div> -->

<div id="Create" class="modal">
    <div class="header"><div class="Createicon left"></div><h3>Create New</h3></div>
    <div class="linkContainer">
        <div class="left"><%= link_to content_tag("div", "", class: "classIcon center"), new_team_path %> <%= link_to content_tag("p", "Team"), new_team_path %></div>
        <div class="left borderlr"><%= link_to content_tag("div", "", class: "eventIcon center"), new_event_path %> <%= link_to content_tag("p", "Event"), new_event_path %></div>
        <div class="left" id="tour"><%= link_to content_tag("div", "", class: "tourIcon center"), new_game_path %> <%= link_to content_tag("p", "Game"), new_game_path %></div>
    </div>
</div>
</div>