<div style="display:none">

<div id="Create" class="modal">
    <div class="header"><div class="Createicon left"></div><h3>Create New</h3></div>
    <div class="linkContainer">
        <div class="left"><%= link_to content_tag("div", "", class: "classIcon center"), new_event_path %> <%= link_to content_tag("p", "Class"), new_event_path %></div>
        <div class="left borderlr"><%= link_to content_tag("div", "", class: "eventIcon center"), new_event_path %> <%= link_to content_tag("p", "Event"), new_event_path %></div>
        <div class="left" id="tour"><%= link_to content_tag("div", "", class: "tourIcon center"), new_event_path %> <%= link_to content_tag("p", "Tournament"), new_event_path %></div>
    </div>
</div>
</div>