    <div class="row-fluid search_container">
        <div class="span12">
            <!-- <h2 class="header_text">Search</h2> -->
            <%= form_tag request.original_url, :method => :get, class: "custom" do %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :name => nil, class: "btn" %>
                 <% if search_type == "offering" %>
                    <%= label_tag 'team_participation', id: "team_participation_label" do %>
                            <%= check_box_tag :team_participation, :checked, (true if params[:team_participation] == "checked")  %> Team participation
                    <% end -%>
                <% end -%>
                <%= hidden_field_tag 'sport',  params[:sport] if (search_type == "offering" || search_type == "team" ) %>
                <%= hidden_field_tag 'city',  params[:city] %>

                <%= hidden_field_tag 'offering_type',  params[:offering_type] if search_type == "main_search" %>

            <% end %>
        </div>
    </div>