<!-- Modal -->
<div id="SignIn" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header header">
    <h3 id="myModalLabel"><div class="icon left"></div>SIGN IN</h3>
  </div>
  <div class="modal-body">
    <%= form_for("account", :url => account_session_path) do |f| %>
        <table colspan="5">
            <tr>
                <td><%= f.label :email, class: "right" %></td>
                <td><%= f.email_field :email, class: "textField" %></td>
            </tr>
            <tr>
                <td><%= f.label :password, class: "right" %></td>
                <td><%= f.password_field :password, class: "textField" %></td>
            </tr>
            <tr>
                <td></td>
                <td><%= f.submit 'Sign In', class: "button grey submitBtn homeBtn right" %></td>
            </tr>
            <tr>
                <td><%= link_to "Sign Up", new_account_registration_path, class: "right" %></td>
                <td><%= link_to "Forgot your password?", new_account_password_path('user'), class: "right" %></td>
            </tr>
        </table>
    <% end %>
  </div>
</div>