<div style="display:none">
<div id="SignIn" class="modal">
    <div class="header"><div class="icon left"></div><h3>SIGN IN</h3></div>
    <%= form_for("account", :url => account_session_path) do |f| %>
        <table colspan="5">
            <tr>
                <td><%= f.label :email, class: "right" %></td>
                <td><%= f.email_field :email, class: "textField" %></td>
            </tr>
            <tr>
                <td><%= f.label :password, class: "right" %></td>
                <td><%= f.password_field :password, class: "textField" %></td>
            </tr>
            <tr>
                <td></td>
                <td><%= f.submit 'Sign In', class: "button grey submitBtn homeBtn right" %></td>
            </tr>
            <tr>

                <td><%= link_to "Sign Up", new_account_registration_path, class: "right" %></td>

                <td><%= link_to "Forgot your password?", new_account_password_path('user'), class: "right" %></td>
            </tr>
        </table>
    <% end %>
</div>
</div>