<li>
	Event <Strong><%= event.title %></strong>,
	created by <Strong><%= event.creator.name %></strong>,
	categorised under <Strong><%= event.category%></strong><br/>
	will take place on <strong><%= event.date_and_time %></strong>
	<br/>
<%= link_to "Show", event_path(event)  %>

	<%- if account_signed_in? && current_user = event.creator %>
	 | <%= link_to "Edit", edit_event_path(event) %>	
	 | <%= link_to "delete", event, method: :delete, data: { confirm: "You sure?"} %>
	<% end -%>
</li>