          <article class="activityBox">
            <header class="activityHeader">
              <%= link_to image_tag("bg.png", class: "activityImage"), event_path(event) %>
<!--               <a href="#">
                <%= image_tag "bg.png", class: "activityImage" %>
              </a> -->
              <h5 class="activityTitle text-left">
                <%= link_to event.title, event_path(event) %>
              </h5>
              <p class="text-left"><strong>Originator:</strong> <%= event.creator.name %><br><%= event.date_and_time.strftime("%A, %B %d, %Y") %></p>
            </header>

            <div class="activityBody text-center">
              <ul class="block-grid three-up">
                <li><%= image_tag "1.png" %></li>
                <li><div class="thumbsUp"></div> <span class="small-text">22</span> </li>
                <li><div class="featureStar"></div> </li>
              </ul>

            </div>
          </article>

<!-- <li>
	Event <Strong><%= event.title %></strong>,
	created by <Strong><%= event.creator.name %></strong>,
	categorised under <Strong><%= event.category%></strong><br/>
	will take place on <strong><%= event.date_and_time %></strong>
	<br/>
<%= link_to "Show", event_path(event)  %>

	<%- if account_signed_in? && current_user = event.creator %>
	 | <%= link_to "Edit", edit_event_path(event) %>
	 | <%= link_to "delete", event, method: :delete, data: { confirm: "You sure?"} %>
	<% end -%>
</li> -->