
<div class="body">
    <div class="offering">
                    <h1><%= image_tag "class-icon.png", width: 50 %> Update Event Information</h1>
        <%= form_for(@event) do |f| %>

                            <p>Category</p>
                            <div class="<%= @event.category %> left"></div> <br>

                            <div>
<<<<<<< HEAD
                                <table  width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :sport, "b. Select an Activity:" %></td>
                                        <td><label><%= @event.sport %></label></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :title, "Event Title: " %></td>
                                        <td><%= f.text_field :title %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :descreption, "Description" %></td>
                                        <td><%= f.text_area :descreption %></td>
                                    </tr>
                                    <tr>
                                        <td><label>Add Image</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><label>Special Requirements</label></td>
                                        <td></td>
                                    </tr>
                                </table>
=======
                                <%= f.radio_button :category, "BallSports", value: "BallSports", checked: true %>
                                <%= f.radio_button :category, "Fitness", value: "Fitness" %>
                                <%= f.radio_button :category, "WaterSports", value: "WaterSports" %>
>>>>>>> Create Event Updated
                            </div>
<hr>

                    <h2>2. <%= image_tag "location-icon.png", width: 50 %> Location</h2>

                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :custom_address, "Select the city:" %></td>
                                        <td><%= f.select :custom_address, ["Al-Salmiyah", "Kuwait City"] %></td>
                                    </tr>
                                </table>

                            </div>

<hr>
                    <h2>3. <%= image_tag "payment-icon.png", width: 50 %> Payment</h2>
                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :fee_type, "Payment Option" %></td>
                                        <td><%= f.select :fee_type, ["Free", "Cash"] %></td>
                                    </tr>
                                    <tr id="AmountRow">
                                        <td><%= f.label :fee, "Amount" %></td>
                                        <td><%= f.number_field :fee %></td>
                                    </tr>
                                </table>
                            </div>

<hr>

                    <h2>4. Time &amp; Limits</h2>

                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :number_of_attendings, "Number of attendings" %></td>
                                        <td><%= f.number_field :number_of_attendings %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :date_and_time %></td>
                                        <td><%= select_date @date_and_time, :prefix => :date_and_time, :start_year => Time.now.year, :end_year => Time.now.year + 5  %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :time_from, "Time From" %></td>
                                        <td><%= f.time_select :time_from %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :time_to, "Time To" %></td>
                                        <td><%= f.time_select :time_to %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :team_participation, "Team Participation" %></td>
                                        <td><%= f.select :team_participation, ["No", "Yes"] %></td>
                                    </tr>
                                </table>
                            </div>



    </div>
                <%= f.submit "Update the Event", class: "button grey submitBtn homeBtn left" %>


        <% end %>
</div>
