<h1>Events#edit</h1>

<--  Back to <%= link_to "index", events_path %>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@event) do |f| %>
                            <div>
                                <%= f.label :title, "Event Title" %>
                                <%= f.text_field :title %>
                            </div>

                            <div>
                                <%= f.radio_button :category, "BallSports", value: "BallSports", checked: true %>
                                <%= f.radio_button :category, "Fitness", value: "Fitness" %>
                                <%= f.radio_button :category, "WaterSports", value: "WaterSports" %>
                            </div>

                            <div>
                                <%= f.label :sport, "sport" %>
                                <%= f.text_field :sport %>
                            </div>
                            <div>
                                <%= f.label :fee_type, "fee type" %>
                                <%= f.select :fee_type, ["Free", "Cash"] %>
                            </div>
                            <div>
                                <%= f.label :fee, "fee" %>
                                <%= f.number_field :fee %>
                            </div>
                            <div>
                                <%= f.label :number_of_attendings, "Number of attendings" %>
                                <%= f.number_field :number_of_attendings %>
                            </div>
                            <div>
                                <%= f.label :time_from, "time from" %>
                                <%= f.time_select :time_from %>
                            </div>
                            <div>
                                <%= f.label :time_to, "time to" %>
                                <%= f.time_select :time_to %>
                            </div>

                            <div>
                                <%= f.label :date_and_time %><br />
                                <%= select_date @date_and_time, :prefix => :date_and_time, :start_year => Time.now.year, :end_year => Time.now.year + 5 %>
                            </div>

                            <div>
                                <%= f.label :descreption, "Description" %>
                                <%= f.text_area :descreption %>
                            </div>

                            <div>
                                <%= f.label :custom_address, "Address" %>
                                <%= f.text_area :custom_address %>
                            </div>
<!--                             <div>
                                <%= f.label :team_participation, "Team Participation" %>
                                <%= f.select :team_participation, ["No", "Yes"] %>
                            </div> -->

                            <div>
                                <%= f.submit "Update the Event", class: "btn btn-large btn-primary" %>
                            </div>
        		<% end %>
	</div>
</div>

