<h1>Events#new</h1>

<--  Back to <%= link_to "index", events_path %>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@event) do |f| %>
			<div>
				<%= f.label :title, "Event Title" %>
				<%= f.text_field :title %>
			</div>

			<div>
				<%= f.label :category, "Category" %>
				<%= f.text_field :category %>
			</div>

                                <div>
                                    <%= f.label :sport, "sport" %>
                                    <%= f.text_field :sport %>
                                </div>
                                <div>
                                    <%= f.label :fee_type, "fee type" %>
                                    <%= f.select :fee_type, ["Free", "Cash"] %>
                                </div>
                                <div>
                                    <%= f.label :fee, "fee" %>
                                    <%= f.number_field :fee %>
                                </div>
                                <div>
                                    <%= f.label :number_of_attendings, "Number of attendings" %>
                                    <%= f.number_field :number_of_attendings %>
                                </div>
                                <div>
                                    <%= f.label :time_from, "time from" %>
                                    <%= f.number_field :time_from %>
                                </div>
                                <div>
                                    <%= f.label :time_to, "time to" %>
                                    <%= f.number_field :time_to %>
                                </div>

			<div>
				<%= f.label :date_and_time %><br />
				<%= select_date @date_and_time, :prefix => :date_and_time %>
			</div>

			<div>
				<%= f.label :descreption, "Description" %>
				<%= f.text_area :descreption %>
			</div>

			<div>
				<%= f.label :custom_address, "Address" %>
				<%= f.text_area :custom_address %>
			</div>
                                <div>
                                    <%= f.label :team_participation, "Team Participation" %>
                                    <%= f.select :team_participation, ["No", "Yes"] %>
                                </div>

			<div>
				<%= f.submit "Create the Event", class: "btn btn-large btn-primary" %>
			</div>

		<% end %>
	</div>
</div>
