  <div class="userInfo">
    <div class="eventProfileCard">
      <div class="large"><%= logo_for(@event, size: :user_profile) %></div>
      <div class="<%= @event.category %> left"></div>
      <h1><%= @event.title %></h1>
      <p>Sports: <%= @event.sport %></p>
      <% unless @event.happening_case.duration_type == "All Day" %>
            <p>Time: <%= @event.happening_case.time_from.strftime("%I:%M %p") %> - <%= @event.happening_case.time_to.strftime("%I:%M %p")  %></p>
      <% end -%>
      <p>Date: <%= @event.happening_case.date_and_time.strftime("%A, %B %d, %Y") %></p>
      <p>Location: <%= @event.custom_address %></p>
      <footer>
        <span>Fee:</span>
        <% if @event.fee_type == "Free" %>
            <a href="#">Free</a>
        <% else %>
            <a href="#"><%= @event.fee %> KD</a>
        <% end %>
        <span class="right">players: <%= @event.number_of_attendings %></span>
      </footer>
    </div>

    <div class="locationPartial">
      <div class="locationTitle">Location</div>
      <div class="map"></div>
    </div>

    <div class="activityOrigin">
        <div class="OriginTitle">Activity Originator</div>
        <div class="UserimgName">
            <div class="img"><%= logo_for(@event.creator, size: :small, css_class: "userCardImage left") %></div>
            <%= link_to @event.creator.name , user_path(@event.creator) %>
        </div>
      <!-- <a href="#" class="originTitle"><%= @event.creator.name %></a> -->
        <p>Level 2: Game Originator</p>
    </div>

    <%= render 'shared/like_button', offering: @event if signed_in? %>
    <% if @event.team_participation == true %>
            <%= render 'shared/join_link', this: @event, participating_actor: "team" if signed_in? %>
    <% else %>
            <%= render 'shared/join_link', this: @event, participating_actor: "user" if signed_in? %>
    <% end %>


    <a href="#"><div class="shareButton"></div></a>
    <%= link_to "Edit", edit_event_path(@event), class: "button blue left" if signed_in? && user_is_admin?(@event) %>

  </div>

  <div class="secondMenu">
    <nav id="secondary">
      <ul>
        <li id="joined"><a href="#">Joined (<span id="joinCount"><%= @participator.count %></span>)</a></li>
        <li id="Description"><a href="#">Description</a></li>
        <li id="likes"><a href="#">Likes (<span id="likeCount"><%= @event.flaggings.with_flag(:like).count %></span>)</a></li>
        <li id="gallery"><a href="#">gallery</a></li>
      </ul>
    </nav>
  </div>
  <div class="event">
    <div class="body">
        <%= render 'shared/cardsection', individuals: @participator, this: @event, class_name: "joined", makeadmin: true%>
    <div class="Description">
        <div class="<%= @event.category %>"></div>
        <p><%= @event.descreption %></p>
    </div>
        <%= render 'shared/cardsection', individuals: @likes, this: @event, class_name: "likes", makeadmin: true %>

        <%= render 'shared/gallery' %>
    </div>
  </div>
</div>