
  <div class="userInfo">
    <div class="eventProfileCard">
      <div class="large"></div>
      <div class="<%= @event.category %> left"></div>
      <h1><%= @event.title %></h1>
      <p>Sports: <%= @event.sport %></p>
      <p>Time: <%= @event.time_from.strftime("%I:%M %p") %> - <%= @event.time_to.strftime("%I:%M %p")  %></p>
      <p>Date: <%= @event.date_and_time.strftime("%A, %B %d, %Y") %></p>
      <p>Location: <%= @event.custom_address %></p>
      <footer>
        <span>Fee:</span>
        <% if @event.fee_type == "Free" %>
            <<a href="#">Free</a>
        <% else %>
            <a href="#"><%= @event.fee %> KD</a>
        <% end %>
        <span class="right">players: <%= @event.number_of_attendings %></span>
      </footer>
    </div>

    <div class="locationPartial">
      <div class="locationTitle">Location</div>
      <div class="map"></div>
    </div>

    <div class="activityOrigin">
        <div class="OriginTitle">Activity Originator</div>
        <div class="UserimgName">
            <div class="img"></div>
            <%= link_to @event.creator.name , user_path %>
        </div>
      <!-- <a href="#" class="originTitle"><%= @event.creator.name %></a> -->
        <p>Level 2: Game Originator</p>
    </div>

    <a href="#"><div class="likeButton"></div></a>
        <%= link_to "<div class='joinButton'></div>", offering_individual_participations_create_path(offering_type: "event", offering_id: @event.id, joining_user: current_user), method: :post %>

    <!-- <a href="#"><div class="joinButton"></div></a> -->
    <a href="#"><div class="shareButton"></div></a>


  </div>

  <div class="secondMenu">
    <nav id="secondary">
      <ul>
        <li id="joined"><a href="#">Joined (12)</a></li>
        <li id="Description"><a href="#">Description</a></li>
        <li id="likes"><a href="#">Likes (14)</a></li>
      </ul>
    </nav>
  </div>
  <div class="event">
    <div class="body">
      <div class="joined">
        <% i = 0
           while i<12 do %>
            <article class="userCard">
              <header class="userCardHeader">
                <a href="#">
                  <%= image_tag "bg.png", class: "userCardImage left" %>
                </a>
                <h5 class="userCardTitle text-left">
                  <a href="#">Abdulmohsen al Abdulmuralib</a>
                </h5>
              </header>

              <div class="userCardLevel">
                <p>Level: First Boomer</p>
              </div>

              <div class="userCardRecent text-left">
                <p>Recent Activities</p>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </article>

        <% i = i + 1
           end %>
      </div>

    <div class="Description">
        <div class="<%= @event.category %>"></div>
        <p><%= @event.descreption %></p>
    </div>

      <div class="likes">
        <% i = 0
           while i<12 do %>
            <article class="userCard">
              <header class="userCardHeader">
                <a href="#">
                  <%= image_tag "bg.png", class: "userCardImage left" %>
                </a>
                <h5 class="userCardTitle text-left">
                  <a href="#">Abdulmohsen al Abdulmuralib</a>
                </h5>
              </header>

              <div class="userCardLevel">
                <p>Level: First Boomer</p>
              </div>

              <div class="userCardRecent text-left">
                <p>Recent Activities</p>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </article>

        <% i = i + 1
           end %>
      </div>

      <div class="sideBar">

<!--         <div class="sideBox">
          <div class="sideTitle">Intrests</div>
          <hr>
          <div class="sideTag">
            <span>Football</span>
            <span>Basketball</span>
            <span>Volleyball</span>
            <span>Jet Ski</span>
            <span>Karate</span>
            <span>Fitness</span>
          </div>
        </div>


        <div class="sideBox">
          <div class="sideTitle">Similar Players</div>
          <hr>
          <div class="sideImage">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>



</div>
