<div class="body">

    <!-- left contents -->

    <div class="leftContent">
        <div class="homeImgContainer">
            <%= image_tag "hometopimg.png" %>
                <p>
                    <strong>Organise here &amp; go play there</strong><br>
                    Activate your sportslife &amp; connect <br>with other players &amp; trainers in kuwait.
                </p>
        </div>

        <div class="homeShortcuts">
            <div class="homeFollow">
                <div class="GrayCircle">
                <p><strong>Follow &amp; Find</strong><br>
                    Players &amp; Trainers<br>
                </p>
                <%= image_tag "findHome.png" %>
                </div>
            </div>

            <div class="homeCreate">
                <div class="GrayCircle">
                <p><strong>Create</strong><br>
                    Matches or Teams <br>&amp; Challenge others.<br>
                </p>
                <%= image_tag "flagHome.png" %>
                </div>
            </div>

        </div>

        <div class="VideoContainer">
            <%= image_tag "logo.png" %> <br>
            <div></div>
        </div>


    </div>

    <!-- end of left contents -->



    <!-- sidebar -->


    <div class="sideBar">

        <div class="HomeForm">
            <% unless account_signed_in? %>
            <div class="signup">
                <h3>New to GOBOOM? JOIN NOW</h3>
                <%= form_for(@account,:as => resource_name, :url => account_registration_path) do |f| %>
                  <%= f.fields_for :user do |user_form| %>
                     <%= user_form.text_field :name, placeholder: "Name", class: "textField" %>
                   <% end %>
                  <%= f.text_field :email, placeholder: "Email", class: "textField" %>
                  <%= f.password_field :password, placeholder: "Password", class: "textField" %>
                  <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "textField" %>
                  <%= f.submit 'Register me', class: "button grey submitBtn homeBtn" %>
                <% end %>
                <!-- <div class="button grey facebookLogin">Sign up with facebook</div> -->
            </div>

            <div class="signin">
                <h3>SIGN IN</h3>
                <%= form_for("account", :url => account_session_path) do |f| %>
                  <%= f.text_field :email, placeholder: "Email", class: "textField" %>
                  <%= f.password_field :password, placeholder: "Password", class: "textField" %>
                  <%= f.submit 'Sign In', class: "button grey submitBtn homeBtn" %>
                  <!-- <div class="button grey facebookLogin">Sign in with facebook</div> -->
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                  <li><%= link_to "Forgot your password?", new_account_password_path('user') %></li>
                <% end %>
            </div>

            <% end %>


        </div>


        <div class="homeJoin">
            <div class="GrayCircle">
            <p><strong>Join</strong><br>
                classes &amp; <br>setup training sessions.<br>
            </p>
            <%= image_tag "joinHome.png" %>
            </div>
        </div>

        <div class="HomeRecent">
            <h3>Recent Activities</h3>
            <!-- activity part -->
            <%= render 'shared/recent_activity', recent_activities: @recent_activities %>
        </div>

    </div>

    <!-- end of sidebar -->

</div>