  <div class="body">
<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => " / " %>



    <div class="row search_container">
        <div class="span12">
            <h2 class="header_text">Search</h2>
            <%= form_tag search_path, :method => :get, class: "custom" do %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :name => nil, class: "btn" %>
            <% end %>
        </div>
    </div>

    <hr>


    <div class="cardsection span12">
        <% @offerings.each do |offering| %>
            <% unless k_lower(offering) == "Team" %>
                <%= render 'shared/offering/offering', offering: offering, class_name: "gameList" %>
            <% else %>
                <%= render 'teams/team', team: offering %>
            <% end %>
        <% end %>
    </div>

<div id="sideBox">
     <div class="sideHeader">
        <h2>NARROW DOWN</h2>
    </div>
    <div class="sideLinks">
        <h3>Category</h3>
        <ul class="twelve side-nav">
        <% for row in @search.facet(:offering_type).rows %>

          <li>
            <% if params[:offering_type].blank? %>
                <%= link_to row.value + " " + "(#{row.count})", :offering_type => row.value, search: params[:search] %>
            <% else %>
                <strong><%= row.value %></strong> (<%= link_to "remove", :offering_type => nil, search: params[:search]  %>)
            <% end %>
        <% end %>
          </li>
        </ul>
    </div>
</div>


  </div>