            <% reload ||= false %>
          <% style_id = class_name + venue.id.to_s %>
          <%= "<article class=\"activityBox\" id=\"venue #{style_id} \">".html_safe unless reload == true %>
            <header class="activityHeader">
              <%= link_to image_tag("bg.png", class: "activityImage"), venue_path(venue) %>
<!--               <a href="#">
                <%= image_tag "bg.png", class: "activityImage" %>
              </a> -->
              <h5 class="activityTitle text-left">
                <%= link_to venue.title, venue_path(venue) %>
              </h5>
              <p class="text-left"><strong>Originator:</strong> <%= venue.creator.name %><br><%= venue.date_and_time.strftime("%A, %B %d, %Y") %></p>
              <div class="<%= venue.category %>"></div>
            </header>

            <div class="activityBody text-center">
              <ul class="block-grid three-up">
                <li><%= image_tag "1.png" %></li>
                <li><%= toggle_like_card_button(venue, current_user, {style_id: style_id, class_name: class_name}) if signed_in? %> <span id="likecount<%= venue.id %>" class="small-text"><%= venue.flaggings.with_flag(:like).count if signed_in?  %> </span> </li>
                <li><div class="featureStar"></div> </li>
              </ul>

            </div>
          <%= "</article>".html_safe unless reload == true %>