  <div class="body">
  <div class="container-fluid">
<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => " / " %>


    <%= render "shared/search_offering", search_type: "venue" %>
    <hr>

<div class="row-fluid">
    <%= render "shared/search_cards_section", this: @venues, class_name: "venueList" %>


    <div class="span3">


            <%= render "shared/city_facet" %>

          <div class="sideBox span12 activitySideBox hero-unit">
            <hr>
            <div class="nav-header">Activity Feed</div>
                <%= render 'shared/activity_sidebar', recent_activities: @recent_activities %>
          </div>
        </div>
</div>
    </div>
  </div>