<div class="body">
	<div class="offering">
                    <h1><%= image_tag "event-icon.png", width: 50 %> Create New Venue</h1>
		<%= form_for(@venue) do |f| %>

                            <div>
                                <table  width="100%">
                                    <tr>
                                        <td><%= f.label :title, "Venue Title: " %></td>
                                        <td><%= f.text_field :title %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :descreption, "Description" %></td>
                                        <td><%= f.text_area :descreption %></td>
                                    </tr>
                                </table>
                            </div>
<hr>

                    <h2>2. Location:</h2>

                    <%= f.fields_for @location do |l| %>
                            <div>
                                <table width="100%">
                                    <tr>
                                        <td><%= l.label :city, "Select the city:" %></td>
                                        <td><%= l.select :city, ["Abdullah Al-Salem", "Adailiya", "Bnaid Al-Qar", "Daiya", "Dasma", "Dasman", "Doha", "Faiha", "Ghornata", "Jaber Al Ahmed", "Kaifan", "Khaldiya", "Kuwait City", "Mansouriya", "Mirqab", "Mubarakiya Camps", "Nuzha", "Qadsiya", "Qibla", "Qortuba", "Rawda", "Salhiya", "Shamiya", "Sharq", "Shuwaikh", "Sulaibikhat", "Surra", "Yarmouk", "Al-Bedae", "Bayan", "Hawally", "Hitteen", "Jabriya", "Maidan Hawally", "Mishrif", "Mubarak Al-Abdullah", "Rumaithiya", "Salam", "Salmiya", "Salwa", "Shaab", "Shuhada", "Siddiq", "Zahra", "Abbasiya", "Abdullah Al-Mubarak - West Jleeb", "Abraq Khaitan", "Airport", "Andalous", "Ardhiya", "Ardiya Small Industrial", "Ardiya Storage Zone", "Ashbeliah", "Dhajeej", "Exhibits - South Khaitan", "Farwaniya", "Ferdous", "Jleeb Al-Shiyoukh", "Khaitan", "Omariya", "Rabiya", "Rai", "Reggai", "Rehab", "Sabah Al-Nasser", "Sheikh Saad Al Abdullah Airport", "Abu Halifa", "Al Julayah - Az Zour Sulah", "Al-Ahmadi", "Dhaher", "East Al Ahmadi", "Egaila", "Fahad Al Ahmed", "Fahaheel", "Fintas", "Hadiya", "Jaber Al-Ali", "Magwa", "Mahboula", "Mangaf", "Mina Abdullah", "Mina Al Ahmadi", "Nuwaiseeb", "Riqqa", "Sabah Al Ahmad Marine City", "Sabah AL Ahmad residential", "Sabahiya", "Shuaiba Port", "Wafra farms", "Wafra residential", "Al Naeem", "Amgarah Industrial", "Jahra", "Kabd", "Nahda", "Nasseem", "Oyoun", "Qairawan - South Doha", "Qasr", "Saad Al Abdullah", "Sulaibiya Indutrial 1", "Sulaibiya Indutrial 2", "Sulaibiya Residential", "Sulaibiya", "Taima", "Waha", "Abu Ftaira", "Abu Hasaniya", "Adan", "Al Masayel", "Ali Sabah Al-Salem", "Al-Qurain", "Al-Qusour", "Coast Strip B", "Fnaitess", "Messila", "Mubarak Al-Kabir", "Sabah Al-Salem", "Sabhan Industrial", "South Wista", "West Abu Fetera Small Indust", "Wista"] %></td>
                                    </tr>
                                    <tr>
                                        <td><%= l.label :custom_address_use, "Use custom address:" %></td>
                                        <td><%= l.check_box :custom_address_use %></td>
                                    </tr>
                                    <tr>
                                        <td><%= l.label :custom_address, "Address:" %></td>
                                        <td><%= l.text_field :custom_address %></td>
                                    </tr>
                                    <tr>
                                        <td><%= l.label :latitude, "latitude:" %></td>
                                        <td><%= l.text_field :latitude %></td>
                                    </tr>
                                    <tr>
                                        <td><%= l.label :longitude, "longitude:" %></td>
                                        <td><%= l.text_field :longitude %></td>
                                    </tr>
                                    <tr>
                                        <td><%= l.label :gmap_use, "Use Google maps tag:" %></td>
                                        <td><%= l.check_box :gmap_use %></td>
                                    </tr>
                                    <tr>
                                        <td><label for="div">Tag a place:</label></td>
                                        <td><div style='width: 800px;'>
                                          <div id="map" style='width: 800px; height: 400px;'></div>
                                        </div></td>
                                    </tr>
                                </table>

                            </div>
                        <% end %>


	</div>
                <%= f.submit "Create the Venue", class: "button grey submitBtn homeBtn left" %>


        <% end %>
</div>
