
<div class="body">
    <div class="offering">
                    <h1><%= image_tag "tournament-icon.png", width: 120 %> Update Game Information</h1>


            <%= form_for(@photo, :url => logos_update_path(@photo, owner_type: "Game", owner_id: @game.id), :html => { :method => "post" }) do |p| %>
                    <h2>Image</h2>

                <table>
                    <tr>
                        <td colspan="2">
                            <div class="gravatarContainer">
                                <%= logo_for @game, size: :medium %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="cabinet left">
                                <%= p.file_field :image, class: "file" %>
                            </label>
                            <br>
                            <p id="fileName"></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <%= p.submit 'Save Photo', class: "button grey submitBtn homeBtn left" %>
                        </td>
                    </tr>

                </table>
            <% end %>


        <%= form_for(@game) do |f| %>

                            <p>Category</p>
                            <div class="<%= @game.category %> left"></div> <br>

                            <div>
                                <table  width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :sport, "b. Select an Activity:" %></td>
                                        <td><label><%= @game.sport %></label></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :title, "game Title: " %></td>
                                        <td><%= f.text_field :title %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :description, "Description" %></td>
                                        <td><%= f.text_area :description %></td>
                                    </tr>
                                    <tr>
                                        <td><label>Add Image</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><label>Special Requirements</label></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
<hr>

                    <h2>2. <%= image_tag "location-icon.png", width: 50 %> Location</h2>

                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :custom_address, "Select the city:" %></td>
                                        <td><%= f.select :custom_address, ["Al-Salmiyah", "Kuwait City"] %></td>
                                    </tr>
                                </table>

                            </div>

<hr>
                    <h2>3. <%= image_tag "payment-icon.png", width: 50 %> Payment</h2>
                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :fee_type, "Payment Option" %></td>
                                        <td><%= f.select :fee_type, ["Free", "Cash"] %></td>
                                    </tr>
                                    <tr id="AmountRow">
                                        <td><%= f.label :fee, "Amount" %></td>
                                        <td><%= f.number_field :fee %></td>
                                    </tr>
                                </table>
                            </div>

<hr>

                    <h2>4. Time &amp; Limits</h2>

                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :number_of_attendings, "Number of attendings" %></td>
                                        <td><%= f.number_field :number_of_attendings %></td>
                                    </tr>
                                        <%= render "shared/happening_case", date_and_time: @date_and_time %>
                                        <td><%= f.label :team_participation, "Team Participation" %></td>
                                        <td><%= f.select :team_participation, ["No", "Yes"] %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :team_participation, "Team Participation" %></td>
                                        <td><%= f.select :team_participation, ["No", "Yes"] %></td>
                                    </tr>
                                </table>
                            </div>



    </div>
                <%= f.submit "Update the game", class: "button grey submitBtn homeBtn left" %>


        <% end %>
</div>
