
<div class="body">
    <div class="offering">
                    <h1><%= image_tag "tournament-icon.png", width: 120 %> Update Game Information</h1>


            <%= form_for(@photo, :url => logos_update_path(@photo, owner_type: "Game", owner_id: @game.id), :html => { :method => "post" }) do |p| %>
                    <h2>Image</h2>

                <table>
                    <tr>
                        <td colspan="2">
                            <div class="gravatarContainer">
                                <%= logo_for @game, size: :medium %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="cabinet center">
                            <span class="btn btn-success fileinput-button">
                                <i class="icon-plus"></i>
                                <span>Select file...</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <%= p.file_field :image, class: "file", id: "fileupload" %>
                            </span>
                            </label>
                            <br>
                                <img id="previewImg" src="#" alt="your image" />
                            <p id="files"></p>
                            <div id="progress" class="progress progress-striped active">
                                <div class="bar bar-success"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <%= p.submit 'Save Photo', class: "button grey submitBtn homeBtn left" %>
                        </td>
                    </tr>

                </table>
            <% end %>


        <%= form_for(@game) do |f| %>
                            <%  if @game.open_to_edit?  %>

                                <p>a. Select a Category</p>

                                <div>
                                    <table id="categoryChoice">
                                        <tr>
                                            <td><%= f.radio_button :category, "BallSports", value: "BallSports" %></td>
                                            <td><%= f.radio_button :category, "Fitness", value: "Fitness" %></td>
                                            <td><%= f.radio_button :category, "WaterSports", value: "WaterSports" %></td>
                                        </tr>
                                        <tr>
                                            <td>Ball Sports</td>
                                            <td>Fitness</td>
                                            <td>Water Sports</td>
                                        </tr>
                                    </table>
                                </div> <br>
                            <% else %>
                                    <p>Category</p>
                                    <div class="<%= @game.category %> left"></div> <br>
                            <% end -%>

                            <div>
                                <table  width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :sport, "b. Select an Activity:" %></td>
                                        <td>
                                            <%  if @game.open_to_edit?  %>
                                                <div id="BallList"><%= f.select :sport, ball_sport_names_list,{}, { :data => { :live_search => "true" } } %></div>
                                                <div id="FitList"><%= f.select :sport, fitness_names_list,{}, { :data => { :live_search => "true" } } %></div></div>
                                                <div id="WaterList"><%= f.select :sport, water_sport_names_list,{}, { :data => { :live_search => "true" } } %></div>
                                            <% else %>
                                                <label><%= @game.sport %></label>
                                            <% end -%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :title, "Game Title: " %></td>
                                        <td><%= f.text_field :title %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :description, "Description" %></td>
                                        <td><%= f.text_area :description %></td>
                                    </tr>
                                </table>
                            </div>
<hr>

                    <h2>2. <%= image_tag "location-icon.png", width: 50 %> Location</h2>

                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= label_tag 'location_type', 'Location Type' %></td>
                                        <td>
                                            <% if @game.location.parent_id.nil? %>
                                                <%= select_tag "location_type", options_for_select([["Custom Location", "custom_location"], ["Existing Venue", "parent_location"] ]) %>
                                            <% else %>
                                                <%= select_tag "location_type", options_for_select([["Custom Location", "custom_location"], ["Existing Venue", "parent_location"] ], "parent_location") %>
                                            <% end %>
                                            </td>
                                    </tr>
                                </table>
                            </div>
                        <div class="venue_list">
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= label_tag 'referenced_venue_id', 'Venue' %></td>
                                        <td>
                                            <% unless @game.location.parent_venue.nil? %>
                                                <%= select_tag "referenced_venue_id", options_from_collection_for_select(@venues, "id", "title", @game.location.parent_venue.id), { :data => { :live_search => "true" } } %></td>
                                            <% else %>
                                                <%= select_tag "referenced_venue_id", options_from_collection_for_select(@venues, "id", "title"), { :data => { :live_search => "true" } } %>
                                            <% end %>

                                    </tr>
                                </table>
                        </div>
                        <div class="location_partial_container">
                            <%= render "shared/location", location: @location, f: f, form_type: "edit" %>
                        </div>

<hr>
                    <h2>3. <%= image_tag "payment-icon.png", width: 50 %> Payment</h2>
                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :fee_type, "Payment Option" %></td>
                                        <td><%= f.select :fee_type, ["Free", "Cash"] %></td>
                                    </tr>
                                    <tr id="AmountRow">
                                        <td><%= f.label :fee, "Amount" %></td>
                                        <td><%= f.number_field :fee %></td>
                                    </tr>
                                </table>
                            </div>

<hr>

                    <h2>4. Time &amp; Limits</h2>

                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :number_of_attendings, "Number of attendings" %></td>
                                        <td>
                                            <%  if @game.open_to_edit?  %>
                                                <%=  f.number_field :number_of_attendings %>
                                            <% else %>
                                                <label><%= @game.number_of_attendings %></label>
                                            <% end -%>
                                        </td>
                                    </tr>
                                        <%= render "shared/happening_case", happening_case: @happening_case %>
                                    <tr>
                                        <td><%= f.label :team_participation, "Team Participation" %></td>
                                        <td>
                                            <%  if @game.open_to_edit?  %>
                                                <%= f.select :team_participation, {"Yes" => true, "No" => false}%>
                                            <% else %>
                                                <label><%= "Yes" if @game.team_participation == true %></label>
                                                <label><%= "No" if @game.team_participation == false %></label>
                                            <% end -%>
                                        </td>
                                    </tr>
                                  <tr>
                                        <td><%= f.label :gender, "Gender" %></td>
                                        <td><%= f.select :gender, {"Unspecified" => "none", "Female Only" => "female", "Male Only" => "male", "Mix" => "mix"} %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :open_join, "Open for all to join" %></td>
                                        <td><%= f.select :open_join, {"Yes" => true, "No" => false} %></td>
                                    </tr>
                                </table>
                            </div>



    </div>
                <%= f.submit "Update the game", class: "button grey submitBtn homeBtn left" %>


        <% end %>
</div>
<%= content_for :scripts do %>
    <script type="text/javascript" charset="utf-8">
      var markersArray = [];
      Gmaps.map.callback = function() {
        var marker = Gmaps.map.markers[0];
        if (marker) {
          // Move existing marker when editing a previously stored location
          google.maps.event.addListener(marker.serviceObject, 'dragend', function() {
            updateFormLocation(this.getPosition());
          });
        }

        // On click, clear markers, place a new one, update coordinates in the form
        google.maps.event.addListener(Gmaps.map.serviceObject, 'click', function(event) {
          clearOverlays();
          placeMarker(event.latLng);
          updateFormLocation(event.latLng);
        });
      };
      // Update form attributes with given coordinates
      function updateFormLocation(latLng) {
        $('#game_location_latitude').val(latLng.lat());
        $('#game_location_longitude').val(latLng.lng());
        $('#centre_gmaps_zoom').val(Gmaps.map.serviceObject.getZoom());
      }
      // Add a marker with an open infowindow
      function placeMarker(latLng) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: Gmaps.map.serviceObject,
          draggable: true
        });
        markersArray.push(marker);
        // Set and open infowindow
        var infowindow = new google.maps.InfoWindow({
          content: ''
        });
        infowindow.open(Gmaps.map.serviceObject, marker);
        // Listen to drag & drop
        google.maps.event.addListener(marker, 'dragend', function() {
          updateFormLocation(this.getPosition());
        });
      }
      // Removes the overlays from the map, including the ones loaded with the map itself
      function clearOverlays() {
        for (var i = 0; i < markersArray.length; i++ ) {
          markersArray[i].setMap(null);
        }
        markersArray.length = 0;

        for (var i = 0; i < Gmaps.map.markers.length; i++ ) {
          Gmaps.map.clearMarker(Gmaps.map.markers[i]);
        }
      }


    $('input#venue_location_gmap_use').click(function(e) {
      if ($(this).attr('checked')) {
        if ($("#venue_location_latitude").val("") && $("#venue_location_longitude").val("")) {
            clearOverlays();
        }
      }
    });
    </script>
<% end %>