  <div class="body">
<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => " / " %>



    <div class="row search_container">
        <div class="span12">
            <h2 class="header_text">Search</h2>
            <%= form_tag games_path, :method => :get, class: "custom" do %>
                <%= text_field_tag :search, params[:search] %>
                <%= label_tag 'team_participation', id: "team_participation_label" do %>
                        <%= check_box_tag :team_participation, :checked, (true if params[:team_participation] == "checked")  %> Team participation
                <% end -%>
                <%= submit_tag "Search", :name => nil, class: "btn" %>
            <% end %>
        </div>
    </div>

    <hr>


    <div class="cardsection">
        <% @games.each do |g| %>
            <%= render 'shared/offering/offering', offering: g, class_name: "gameList" %>
        <% end %>
    </div>

    <div class="sideBar">


<!--         <div class="sideBox">
            <div class="sideTitle">Your Upcoming games</div>
            <% @games.each do |e| %>
                <%= render 'shared/upcoming_offering', offering: e, offering_name: "game" %>
            <% end %>
        </div> -->


<div id="sideBox">
     <div class="sideHeader">
        <h2>NARROW DOWN</h2>
    </div>
    <div class="sideLinks">
        <h3>Category</h3>
        <ul class="twelve side-nav">
        <% for row in @search.facet(:sport).rows %>

          <li>
            <% if params[:sport].blank? %>
                <%= link_to row.value + " " + "(#{row.count})", :sport => row.value, search: params[:search], team_participation: params[:team_participation] %>
            <% else %>
                <strong><%= row.value %></strong> (<%= link_to "remove", :sport => nil, search: params[:search],  team_participation: params[:team_participation]  %>)
            <% end %>
        <% end %>
          </li>
        </ul>
    </div>
</div>



      <div class="sideBox">
        <div class="sideTitle">Activity</div>
            <%= render 'shared/activity_sidebar', recent_activities: @recent_activities %>
      </div>
    </div>
  </div>