
<div class="body">
    <div class="offering">
                    <h1><%= image_tag "tournament-icon.png", width: 120 %> Create New Game</h1>
        <%= form_for(@game) do |f| %>
                            <h2>1. Set up Activity</h2>

                            <p>a. Select a Category</p>

                            <div>
                                <table id="categoryChoice">
                                    <tr>
                                        <td><%= f.radio_button :category, "BallSports", value: "BallSports", checked: true %></td>
                                        <td><%= f.radio_button :category, "Fitness", value: "Fitness" %></td>
                                        <td><%= f.radio_button :category, "WaterSports", value: "WaterSports" %></td>
                                    </tr>
                                    <tr>
                                        <td>Ball Sports</td>
                                        <td>Fitness</td>
                                        <td>Water Sports</td>
                                    </tr>
                                </table>
                            </div> <br>

                            <div>
                                <table  width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :sport, "b. Select an Activity:" %></td>
                                        <td>
                                            <div id="BallList"><%= f.select :sport, ["Football", "Handball"]%></div>
                                            <div id="FitList"><%= f.select :sport, ["Marathon", "Sky diving"] %></div>
                                            <div id="WaterList"><%= f.select :sport, ["Water Polo", "Swimming"]%></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :title, "Game Title: " %></td>
                                        <td><%= f.text_field :title %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :description, "Description" %></td>
                                        <td><%= f.text_area :description %></td>
                                    </tr>
                                    <tr>
                                        <td><label>Add Image</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><label>Special Requirements</label></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
<hr>

                    <h2>2. <%= image_tag "location-icon.png", width: 50 %> Location</h2>

                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :custom_address, "Select the city:" %></td>
                                        <td><%= f.select :custom_address, ["Al-Salmiyah", "Kuwait City"] %></td>
                                    </tr>
                                </table>

                            </div>

<hr>
                    <h2>3. <%= image_tag "payment-icon.png", width: 50 %> Payment</h2>
                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="130"><%= f.label :fee_type, "Payment Option" %></td>
                                        <td><%= f.select :fee_type, ["Free", "Cash"] %></td>
                                    </tr>
                                    <tr id="AmountRow">
                                        <td><%= f.label :fee, "Amount" %></td>
                                        <td><%= f.number_field :fee %></td>
                                    </tr>
                                </table>
                            </div>

<hr>

                    <h2>4. Time &amp; Limits</h2>

                            <div>
                                <table width="100%">
<tr>
                                        <td width="130"><%= f.label :number_of_attendings, "Number of attendings" %></td>
                                        <td><%= f.number_field :number_of_attendings %></td>
                                    </tr>

                                    <%= render "shared/happening_case", date_and_time: @date_and_time %>
                                    <tr>
                                        <td><%= f.label :team_participation, "Team Participation" %></td>
                                        <td><%= f.select :team_participation, ["No", "Yes"] %></td>
                                    </tr>
                                    <tr>
                                        <td><%= f.label :team_participation, "Team Participation" %></td>
                                        <td><%= f.select :team_participation, ["No", "Yes"] %></td>
                                    </tr>
                                </table>
                            </div>



    </div>
                <%= f.submit "Create the game", class: "button grey submitBtn homeBtn left" %>


        <% end %>
</div>
