          <% personal_trainer = @personal_trainer %>
<%= content_tag("div", "", class: "cardsection #{class_name}", remote: :true) do %>
            <header class="activityHeader">
              <%= link_to image_tag("bg.png", class: "activityImage"), personal_trainer_path(personal_trainer) %>
<!--               <a href="#">
                <%= image_tag "bg.png", class: "activityImage" %>
              </a> -->
              <h5 class="activityTitle text-left">
                <%= link_to personal_trainer.title, personal_trainer_path(personal_trainer) %>
              </h5>
              <p class="text-left"><strong>Originator:</strong> <%= personal_trainer.creator.name %><br><%= personal_trainer.date_and_time.strftime("%A, %B %d, %Y") %></p>
              <div class="<%= personal_trainer.category %>"></div>
            </header>

            <div class="activityBody text-center">
              <ul class="block-grid three-up">
                <li><%= image_tag "1.png" %></li>
                <li><%= toggle_like_card_button(personal_trainer, current_user, {style_id: style_id, class_name: class_name}) %> <span id="likecount<%= personal_trainer.id %>" class="small-text"><%= personal_trainer.flaggings.with_flag(:like).count %></span> </li>
                <li><div class="featureStar"></div> </li>
              </ul>

            </div>
<% end %>
