
<div class="body signPage">
        <header id="forgotHeader"><div class="icon left"></div><h3>Forgot My Password</h3></header>
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>

            <table colspan="5">
                 <tr>
                    <td><%= f.label :email, class: "right" %></td>
                    <td><%= f.email_field :email, class: "textField" %></td>
                </tr>
                <tr>
                    <td></td>
                    <td><%= f.submit 'Send me reset password instructions', class: "button grey submitBtn homeBtn right" %></td>
                </tr>
                <tr>
                    <td><%= link_to "Sign Up", new_account_registration_path, class: "right" %></td>
                    <td><%= link_to "Sign In", new_account_session_path, class: "right" %></td>
                </tr>
            </table>
        <% end %>
</div>