<!DOCTYPE html>
<html>
<head>
  <title>Blackmoon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
   <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page">
    <div id="headerContainer">
      <header id="main">
        <div id="headerLeft">
          <%= link_to image_tag("logo.png"), root_path, id: "mainLogo" %>
          <input type="search" placeholder="search" />
        </div>
            <% if account_signed_in? %>
                <%= render 'shared/header_top_user' %>
            <% else %>
                <%= render 'shared/header_top_guest' %>
            <% end %>
      </header>
    </div>
<div>
<% if notice %>
    <p id="notice" ><%= notice %></p>
<% elsif alert %>
    <p id="alert" ><%= alert %></p>
<% end %>
</div>
<%= yield %>

<%= render 'shared/modal' %>
<%= render 'shared/signin_modal' %>
<%= render 'shared/signup_modal' %>

<%= yield :scripts %>

</body>
</html>
