<!DOCTYPE html>
<html>
<head>
  <title>Blackmoon</title>
  <%= stylesheet_link_tag 'bootstrap-select' %>
  <%= stylesheet_link_tag 'bootstrap-checkbox' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= stylesheet_link_tag 'datepicker' %>
   <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('select').selectpicker();
            $('input[type="checkbox"]').checkbox({
                buttonStyle: 'btn-link btn-large',
                checkedClass: 'fa fa-check-square',
                uncheckedClass: 'fa fa-square-o'
            });
            // $('.selectpicker').selectpicker('hide');
        });
    </script>
</head>
<body>
  <div class="page">
    <div id="headerContainer">
      <header id="main">
        <div id="headerLeft">
          <%= link_to image_tag("logo.png"), root_path, id: "mainLogo" %>
          <%= form_tag search_path, :method => :get, class: "topsearch" do %>
                <%= text_field_tag :search, params[:search], class: "input-medium search-query", type: "search", placeholder: "search" %>
            <% end %>
          <!-- <input type="search" placeholder="search" class="input-medium search-query" /> -->
        </div>
            <% if account_signed_in? %>
                <%= render 'shared/header_top_user' %>
            <% else %>
                <%= render 'shared/header_top_guest' %>
            <% end %>
      </header>
    </div>
    <div class="container">
        <div class="row">
            <div id="flash_message_box" class="span12">          
              <%= render 'shared/flash_message' %>
            </div>
        </div>
    </div>


<%= yield %>

</div>

<%= render 'shared/modal' if account_signed_in?  %>
<%= render 'shared/signin_modal' unless account_signed_in? %>
<%= render 'shared/signup_modal' unless account_signed_in?  %>

<%= yield :scripts %>


</body>
</html>
